<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>new-sight</servlet-name>
        <servlet-class>com.sighthunt.servlet.sight.NewSightServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>edit-sight</servlet-name>
        <servlet-class>com.sighthunt.servlet.sight.EditSightServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>delete-sight</servlet-name>
        <servlet-class>com.sighthunt.servlet.sight.DeleteSightServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>list-sights-by-region</servlet-name>
        <servlet-class>com.sighthunt.servlet.sight.ListSightsByRegionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>list-sights-by-user</servlet-name>
        <servlet-class>com.sighthunt.servlet.sight.ListSightsByUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>fetch-sights</servlet-name>
        <servlet-class>com.sighthunt.servlet.sight.FetchSightsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>edit-user</servlet-name>
        <servlet-class>com.sighthunt.servlet.user.EditUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>com.sighthunt.servlet.user.SignUpServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>upload-sight-image</servlet-name>
        <servlet-class>com.sighthunt.servlet.sight.UploadSightImageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>serve-image</servlet-name>
        <servlet-class>com.sighthunt.servlet.sight.ServeImageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>fetch-user</servlet-name>
        <servlet-class>com.sighthunt.servlet.user.FetchUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.sighthunt.servlet.user.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>hunt</servlet-name>
        <servlet-class>com.sighthunt.servlet.sight.HuntServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>new-sight</servlet-name>
        <url-pattern>/sight/new</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>edit-sight</servlet-name>
        <url-pattern>/sight/edit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>list-sights-by-region</servlet-name>
        <url-pattern>/sight/list_by_region</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>fetch-sights</servlet-name>
        <url-pattern>/sight/fetch</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>fetch-user</servlet-name>
        <url-pattern>/user/fetch</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/user/signup</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>edit-user</servlet-name>
        <url-pattern>/user/edit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>upload-sight-image</servlet-name>
        <url-pattern>/sight/upload_image</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>serve-image</servlet-name>
        <url-pattern>/image/serve</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>list-sights-by-user</servlet-name>
        <url-pattern>/sight/list_by_user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>hunt</servlet-name>
        <url-pattern>/sight/hunt</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>delete-sight</servlet-name>
        <url-pattern>/sight/delete</url-pattern>
    </servlet-mapping>
</web-app>